/*intégration de la police "raleway" à tout le texte*/
*{

    font-family: 'Raleway', sans-serif;
    max-width: 1400px;
    max-height: 100%;
    box-sizing:border-box;
}

/* Position du Logo */
.LogoBooki
{
    margin-top: 3.6%;
    width: 50%;
}

.logo
{
    float: left;
}


/* Position de "hébérgements" et "Activité" */
#navigation /*utilisé des balises class*/
{
    display:flex;
    flex-direction: row;
    margin-top: 3.6%;
    margin-right: 6%;
    justify-content: flex-end;
}


/* mise en place de l'espace entre "hébergement" et "activité"
mise en place de la bordure bleu au survole du lien */
.TopTitle1, .TopTitle2
{
    color: black;
    text-decoration: none;

    
}


.nav
{
    padding-bottom: 0%;
    padding-right: 2%;
    padding-left: 2%;
    padding-top: 4%;
    margin-top: -3%;
    border: solid white;
}

.nav:hover
{
    border-top: solid 2px #0065FC;
}


/* Application d'une marge sur tout le corp de la page*/
body
{
    margin-left: 5%;
}

/*modification du texte */
.PremierTitre
{
    font-weight: 700;
    font-style: normal;
    margin-top: 10%;
}

.SecondTitre
{
    font-weight: 400;
    font-style: normal;
}

/* Icones */

.fa-icon
{
    color: #0065FC;
}

.star-grey
{
    color:#F2F2F2
}


/*CSS de la barre de recherche*/

.barre-recherche
{
    display: flex;   
    width: 33%;
    height: 100%;
    border: 1px solid #F2F2F2;
    border-radius: 15px; 
    background-color: #F2F2F2;
    justify-content: stretch;
}



.icone-location
{
    display:flex;
    width: 50px;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.search-box
{
    display:flex;
    height: 49px;
    border: none;
    font-style: normal;
    font-size:medium;
    font-weight: 700;
    padding-left: 3%;
    width: 250px;
}

.search-button
{
    display: flex;
    background-color: #0065FC;
    border: none;
    font-weight: 700;
    font-size: medium;
    color: white;
    border-radius: 0px 15px 15px 0px;
    padding-right: 4%;
    padding-left: 4%;
    height: 100%;
    width: 150px;
    align-items: center;
    justify-content: center;
}

.Rbox
{

}

.M-RButton
{
    display: none;
}

.fa-xl
{
    display: none;
}




/*CSS des filtres*/
/*Positionement*/
.Filtres
{
    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 70%;
    height: 5%;
    margin-top: 2%;
    justify-content: space-around;
    align-items: center;
}

.filtre-box
{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-left: 2%;
}


.Box
{
    display: flex;
    flex-wrap:nowrap;
    border: solid 2px #D9D9D9;
    border-radius: 28px;
    align-items: center;
    padding-right: 2%;
    padding-left: 2%;
    justify-content: space-evenly;
}

.Box:hover
{
    background-color: #DEEBFF;
}

.box-icon
{
    margin-left: -7%;
}


/* icone "info" + texte */
.info-icon
{
    display: flex;
    border: solid 1px #D9D9D9;
    border-radius:50%;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    margin-right: 1%;    
}

.info-box
{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2.3%;
}


/* Hébérgement */

#Hébergement
{
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color:#F2F2F2;
    border-radius: 20px;
    margin-bottom: 30%;
    float: left;
    margin-right: 5%;
}


.box-hébergement
{
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;    
    margin-left: 5%;
    margin-right: 5%;
    align-items:flex-start;
}


.Hbox
{
    
    display: flex;
    flex-direction: column;
    background-color: white;  
    width: 30%;
    border-radius: 20px;
    padding: 0.6%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 1%;
    margin-left: 1%;
    height:100%;
    text-decoration: none;

    box-shadow:
    0px 0px 0.4px rgba(0, 0, 0, 0.109),
    0px 0px 1.3px rgba(0, 0, 0, 0.161),
    0px 0px 6px rgba(0, 0, 0, 0.27);
}



.Himg
{
   height: 100px;
}

.imgmarseille
{
    object-fit: cover;
    width: 100%;
    border-radius:20px 20px 0px 0px;
}

.hébergementTitre
{
    display: flex;
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    text-decoration: none;
}



.Htext
{
    display: flex;
    flex-direction: column;
    font-size: small;
    color: black;
    height: 90px;
    padding: 0px;
}


.Htitre
{
    margin: 0px;
}  

.Htext p
{
    margin: 0px;
    padding: 0px;
}

.Hstar
{
    margin-top: 13%;
}





/* hébergement populaire*/

.Hébergement-pop
{
    display: flex;
    flex-direction: column;
    width: 35%;
    background-color:#F2F2F2 ;
    border-radius: 5%;
}



.box-pop
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.Pbox
{
    display: flex;
    flex-direction: row;
    background-color: white;  
    border-radius: 20px;
    padding: 0.8%;
    width: 85%;
    margin: 6%;
    height: 9.6em;

    box-shadow:
    0px 0px 0.4px rgba(0, 0, 0, 0.109),
    0px 0px 1.3px rgba(0, 0, 0, 0.161),
    0px 0px 6px rgba(0, 0, 0, 0.27);
}

.Pimg
{
    width: 35%;
}

.imgPop
{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px 0px 0px 20px;
}

.Ptitre
{
    margin-bottom: -4%;

}


.Ptext
{
    display: flex;
    flex-direction: column;
    font-size: small;
    margin-left: 2%;
    width: 100%;
    height: 100%;
    
    justify-content: flex-start;
}

.star
{
    display: flex;
    height: 100%;
    align-items: flex-end;
    margin-bottom: 4%;
}    


.PopulaireTitre
{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 3%;
}

.PopTitre
{
    margin-left: 7%;
}


.chart
{
    align-self: center;
    margin-right: 7%;
}




/* Activité a marseille*/


#activité
{
    display:flex;
    float: left;
    flex-direction:column ;
    margin-top: -30%;
    margin-bottom: 7%;
}

.boxActivité
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Abox
{
    display: flex;
    flex-direction: column;
    width: 23%;
    overflow: hidden;
    margin-top: 10%;
    border-radius: 20px;

    box-shadow:
    0px 0px 0.4px rgba(0, 0, 0, 0.109),
    0px 0px 1.3px rgba(0, 0, 0, 0.161),
    0px 0px 6px rgba(0, 0, 0, 0.27);
}

.Activitétitre
{
    margin-top: 5%;
    margin-bottom: -5%;
}

.Aimg
{
    object-fit: cover;
    height: 87%;
    width: 100%;
}

.Atitre
{
    font-size: medium;
    font-weight: bold;
    margin-left: 5%;
    margin-top: 2%;
}


/*Pied de page*/

#InfoPage
{
    display: flex; 
    width: 100%;
    margin-left: -1.4%;
    background-color: #F2F2F2;
}

.infotitre
{
    font-weight: 700;
}

.Apropo
{
    margin-left: 3%;
    padding-right: 15%;
}

.infotitre
{
    font-size: medium;
}


/* media querie pour écran tablette */
@media screen and (max-width: 991px)
{

    /* Largeur que prennent les filtres sur l'écran */
    .Filtres
    {
        width: 95%;
    }

    /* largeur de la barre de recherche*/
    .barre-recherche
    {
        width: 50%;
    }

    /* largeur de la boite "hébergement" et plus de float */
    #Hébergement
    {
        width: 95%;
        float: none;    
    }


    .Hébergement-pop
    {
        margin-top: -20%;
        width: 95%;
        height: 50%;
        border-radius: 20px;
    }

    .box-pop
    {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .Pbox
    {
        margin: 2%;
        height: 8em;
        padding: 0.5%;
    }

    .Pimg
    {
        width: 50%;
    }



    #activité
    {
        margin-top: 0%;
    }

}

/* media querie pour écran téléphone*/
@media screen and (max-width: 767px)
{

    body
    {
        margin: 0%;
        width: 100%;
    }

    /* Modification logo*/

    .LogoBooki
    {
        width: 20%;
    }

    .logo
    {
        float: none;
        text-align: center;
    }

    /* Changement sur le menu navigation */

    #navigation
    {
        width: 100%;
        margin-top: 7%;
        justify-content: space-evenly;
    }

    .TopTitle1, .TopTitle2
    {
        font-size:large;
        margin-left: 0%;
        margin-right: 0%;
        font-weight: bold;
    }

    .nav
    {
        padding-left: 15%;
        padding-right: 15%;
        border-bottom: solid 2px #F2F2F2;
        border-width: thick;
        padding-bottom: 9%;
    }
  

    .nav:hover
    {
        border-bottom: solid 2px #0065FC;
        border-width: thick;
        border-top: none;        
    }


    .PremierTitre
    {
        margin-top: 15%;
        margin-left: 2%;
    }

    .SecondTitre
    {
        margin-left: 2%;
    }


    .fa-nm 
    {
        display: none;
    }
    
    .fa-xl
    {
        display: contents;
    }

    /* Barre de recherche*/

    .barre-recherche
    {
        margin-top: 5%;
        margin-left: 6%;
        width: 90%;
        justify-content: space-evenly;
        border-radius: 25px;
    }

    .search-box
    {
        height: 80px;
        width: 100%;
        font-size: xx-large;
        text-decoration: black;
        font-weight: bolder;
    }

    .Rbox
    {
        width: 80%;
    }

    .icone-location
    {
        width: 15%;
        padding: 0%;
        margin: 0%;
    }


    .search-button
    {
        width: 15%;
        border-radius: 0px 25px 25px 0px;
        height: 80px;
    }

    .RButton
    {
        display: none;
    }

    .M-RButton
    {
        display: contents;
    }
    

    .fa-magnifying-glass
    {
       display: contents;
    }

    /*Filtres*/

    .Filtres
    {
        flex-direction: column;
    }

    .filtre-box
    {
        flex-direction: row;
        flex-wrap: wrap;
    }
    

    .Box
    {
        width: 40%;
        justify-content: flex-start;
        margin: 1%;
    }

    .box-icon
    {
        margin: 0%;
        padding-right: 4%;
        
    }

    .Filtres h2
    {
        margin-left: -80%;
    }

    /* texte et icone d'info*/
    .info-box
    {
        margin-left: 3%;
        margin-bottom: 3%;
    }


        /* Hébergement*/

    #Hébergement
    {
       margin-top: 10%;
       margin-left: 4%;
       width: 100%;
       border: none;
       background-color: white;
       margin-bottom: -2%;
    }

    .box-hébergement
    {
        flex-direction: column;
        width: 100%;
        margin-left: 0%;
    }

    .hébergementTitre
    {
        margin-left: 0%;
    }

    .Hbox
    {
        width: 90%;
    }

    .Htext
    {
        margin-top: 1%;
        font-size: large;
    }

    .Himg
    {
        width: 100%;
        height: 230px;
    }
    
    .Hstar
    {
        margin-top: 2%;
    }

    .Hfin
    {
        display: none;
    }


    /* Hébergement Populaire*/

    .Hébergement-pop
    {
        margin-top: 0%;
        width: 100%;
        border-radius: 0%;
        padding-bottom: 3%;
    }

    .box-pop
    {
        flex-direction: column;
        width: 100%;
        margin-left: 0%;
        margin-left: 2%;
    }

    .Pimg
    {
        width: 70%;
    }

    .Ptext
    {
        font-size: medium;
    }

    /* inversion hébergement et hébergement populaire*/

    .section
    {
        display: flex;
        flex-direction: column-reverse;
    }

    /* Activité à Marseille*/

    #activité
    {
        width: 100%;
        margin-left: 5%;
    }

    .boxActivité
    {
        flex-direction: column;
    }

    .Abox
    {
        width: 90%;
    }

    .Aimg
    {
        height: 230px;
        width: 100%;
    }
 





    /* Footer*/

    #InfoPage
    {
        width: 100%;
        margin-left: 0%;
        flex-direction: column;
    }

    .Apropo
    {
        margin-left: 4%;
        padding-right: 0%;
        padding-bottom: 2%;
        font-size:larger ;

    }




}